@font-face {
    font-family: "mononoki";
    src: url("../../font/mononoki.woff") format("woff");
}

:root {
    --black: #303030;
    --grey: #606470;
    --blue: #93DEFF;
    --white: #F7F7F7;
    --orange: #FFB562;
    --yellow: #FEE440;
    --red: #DD4A48;
    --green: #94B49F;
}

* {
    padding: 0px;
    margin: 0px;
    transition-duration: 0.3s;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-size: 17px;
    font-family: mononoki;
}

a {
    color: var(--blue);
    text-decoration: none;
}


/* Footer */

footer {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100px;
    bottom: 0px;
    width: 100%;
}

footer nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--black);
    height: fit-content;
    border-radius: 5px;
    width: fit-content;
    align-items: stretch;
    animation-name: apear;
    animation-duration: 2s;
}

footer nav a {
    position: relative;
    display: block;
    padding: 5px;
}

footer nav a::after {
    content: "";
    background: var(--orange);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transition-duration: 0.3s;
    transform: translateX(-50%);
}

footer nav a:hover::after {
    width: 100%;
}

footer nav a.selected::after {
    width: 100%;
}


/* Apear animation */

@keyframes apear {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


/* Transition */

div.transitionIn {
    position: fixed;
    display: block;
    bottom: 0px;
    height: 0%;
    width: 100%;
    z-index: 999;
    background-color: var(--orange);
    animation: transition 1s ease-in-out;
}

div.transitionOut {
    position: fixed;
    display: block;
    top: 0px;
    height: 0%;
    width: 100%;
    z-index: 999;
    background-color: var(--orange);
    transition-duration: 1s;
}

@keyframes transition {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}


/* rainParticle */

canvas {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0px;
}


/* Custom scroll bar */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 3px;
}


/* Resize */

@media screen and (max-width: 1150px) {
    footer nav a {
        font-size: 15px;
    }
}